@using Microsoft.AspNetCore.Mvc.Localization
@using OOS.OgrenciOtomasyonSistemi.Localization
@inject IHtmlLocalizer<OgrenciOtomasyonSistemiResource> L
<a class="nav-link" role="button" href="~/Account/Login">@L["Login"]</a>
