@page "/"
@using Volo.Abp.MultiTenancy
@inherits OgrenciOtomasyonSistemiComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider

        <DevGridLayout ColumnCount="5"
                       ColumnWidths="@ColumnWidths("*","10px","*","10px","*")"
                       RowCount="2"
                       RowHeights="@RowHeights("*","10px","*")">
            <GridLayoutItems>
          
                <h1>Hello</h1>
            </GridLayoutItems>

        </DevGridLayout>

 