/* Kopyalanmış formu gizlemek için */
.dxbs-sc-apt.dxbs-sc-vertical-apt:not(.text) {
    visibility: hidden; /* Görünürlüğü kaldırır, ama yer tutar */
    position: absolute; /* Bu, formun pozisyonunun bozulmasını engeller */
    top: 0;
    left: 0;
}

.dxbs-sc-apt.dxbs-sc-horizontal-apt:not(.text) {
    visibility: hidden; /* Görünürlüğü kaldırır, ama yer tutar */
    position: absolute; /* Bu, formun pozisyonunun bozulmasını engeller */
    top: 0;
    left: 0;
}

.btnGroup {
    background-color: #ccff99;
}

.example {
    background-color: #5499c7;
    color: #eaeded;
    padding: 10px;
    text-align: center;
    border-radius: 1px;
    box-shadow: 0 3px #999;
    cursor: pointer;
}

.example2 {
    background-color: #5499c7;
    color: #eaeded;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    border-radius: 1px;
    box-shadow: 0 3px #999;
    cursor: pointer;
}

.button {
    background-color: rgb(224, 211, 245);
    border: none;
    color: #cc00ff;
    padding: 2px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button2 {
    color: #cc00ff;
    border-style: none;
    border-radius: 15px;
    box-shadow: 0 6px #999;
    cursor: pointer;
    text-align: center;
}


.scheduler-container {
    position: relative;
}

.status1-style {
    background-color: lightblue;
    border-color: blue;
}

.status2-style {
    background-color: lightgreen;
    border-color: green;
}

.label1-background {
    background-color: lightblue;
    border-color: blue;
}

.label2-background {
    background-color: lightgreen;
    border-color: green;
}



.button {
    background-color: rgb(224, 211, 245);
    border: none;
    color: #cc00ff;
    padding: 2px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button2 {
    color: #cc00ff;
    border-style: none;
    border-radius: 15px;
    box-shadow: 0 6px #999;
    cursor: pointer;
    text-align: center;
}

.page-header {
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    font-size: 1rem;
    font-weight: 500;
    background-color: #cc00ff;
    color: #cc00ff;
    text-align: @TextAlign;
}

.popup-text-header {
    margin-right: auto;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    color: rgb(17, 0, 26);
    font-size: 2rem;
    font-family: "Brush Script MT", cursive;
    text-shadow: 2px 2px 5px #cc00ff;
}

.popup-text-header2 {
    margin-right: auto;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    color: #cc00ff;
    font-size: 1rem;
    font-family: "Times New Roman", Times, serif;
}

.scheduler-container {
    position: relative;
}

.view-switcher-right {
    display: flex;
    gap: 0px; /* Butonlar arasındaki boşluğu sıfırlıyoruz */
    margin-bottom: 2px;
    position: absolute;
    top: 5px;
    right: 0px;
    transform: translateX(0%);
    z-index: 1;
}

    .view-switcher-right button {
        padding: 5px 10px;
        font-size: 14px;
        border: 2px solid #ffecb3;
        cursor: pointer;
        border-radius: 4px;
        margin: 0; /* Butonlar arasındaki ekstra boşluğu kaldırıyoruz */
        min-width: 180px; /* Butonların minimum genişliğini ayarlayalım */
        white-space: nowrap; /* İçeriği tek satırda tutar */
        text-align: center; /* Buton içeriğini ortalayalım */
    }

        .view-switcher-right button:hover {
            background-color: #ffcc33;
            color: #000000;
            border: 2px solid #ffecb3;
        }

/* ------------------------------------------ */


.view-switcher-left-ToDay {
    display: flex;
    gap: 0px;
    margin-bottom: 10px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}


    .view-switcher-left-ToDay button {
        padding: 6px 12px;
        font-size: 14px;
        border: 2px solid #ffecb3;
        cursor: pointer;
        border-radius: 4px;
        margin: 0; /* Butonlar arasındaki ekstra boşluğu kaldırıyoruz */
    }

        .view-switcher-left-ToDay button:hover {
            background-color: #ffcc33;
            color: #000000;
            border: 2px solid #ffecb3;
        }

.dxbs-scheduler .WorkWeekView .dxsc-content-wrapper {
    top: -1%;
    overflow: visible !important;
    position: relative;
    bottom: 15px;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Arka plan siyah yarı saydam */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Üstte görünmesi için */
}

.popup-content {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
    max-height: 80%;
    overflow-y: auto;
    position: relative;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.popup-close-button {
    background: none;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.popup-toggle-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
}

    .popup-toggle-button:hover {
        background-color: #45a049;
    }

textarea {
    width: 80%;
    font-size: 14px; /* Yazı boyutunu büyüt */
    border: 1px solid #ccc; /* Kenarlık */
    border-radius: 1px; /* Köşeleri yuvarla */
    box-sizing: border-box; /* Taşmayı önler */
    resize: none; /* Yeniden boyutlandırmayı engelle */
}
