 @page "/"
@using Volo.Abp.MultiTenancy
@inherits OgrenciOtomasyonSistemiComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
<AuthorizeView>
    <Authorized>    
        <h3 class="pt-4 pb-4 headerCssClass">@L["Giriþ Yapýldý"]</h3>
        <DevGridLayout ColumnCount="5"  
                       ColumnWidths="@ColumnWidths("*","5px","*","5px","*")"
                       RowCount="5"
                       RowHeights="@RowHeights("*","10px","*")">
            <GridLayoutItems />
        </DevGridLayout>
    </Authorized>    
    <NotAuthorized>
           <div class="captionCssClass">     
        <div class="text">
            <a class="btn btn-success" href="/account/login">
                <i class="fa fa-sign-in-alt pr-2"></i> @L["Login"]
            </a>
        </div>
        
        </div>
      </NotAuthorized>
      
</AuthorizeView>