<style>
    .page-header {
        padding-bottom: 5px;
        padding-top: 5px;
        padding-left: 10px;
        font-size: 1rem;
        font-weight: 500;
        text-align: @TextAlign;
        
    }

    .headerCssClass {
        background-color: #4D4D4D;
        color: white;
    }
</style>

<div class="page-header @CssClass">
    @Caption
</div>

@code {

    [Parameter] public string CssClass { get; set; } = "headerCssClass";
    [Parameter] public string TextAlign { get; set; } = "left";
    [Parameter] public string Caption { get; set; }

}